@charset "UTF-8";

.mdi-alert-danger:before {
  content: "\e6a0";
}
.mdi-alert-info:before{
  content: "\e638";
}
.mdi-alert-success:before{
  content: "\e623";
}

.danger{
  background-color:#ff4a4a;
}
.warning{
  background-color:#fcfc8b;
}
.info{
  background-color: lightskyblue;
}
.success{
  background-color: lawngreen;
}

.eventful{
  color: #000000;
  cursor: pointer;
}
.eventful:hover{
  color: #039BE5;
  cursor: pointer;
}

.dismisser{
  @extend .eventful
}
